.dashboardContainer {
  padding: 8px 64px;
}

.dashboardTitle {
  font-weight: 500;
  font-size: 14px;
  margin-top: 20px;
}

.dashboardTitleContainer {
  display: flex;
}

.btnSortBy {
  display: flex;
  cursor: pointer;
  width: auto;
  align-items: center;
  font-size: 12px;
}

.sortByIcon {
  width: auto;
}

.sortByText {
  text-decoration: underline;
  margin-left: 6px;
  user-select: none;
}

.sortByMenu {
  background-color: #fff;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.1);
  width: auto;
  right: 64px;
  margin-top: 175px;
  position: absolute;
}

.sortByItem {
  width: 147px;
  padding: 8px 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.sortByItem:hover {
  background-color: #edefff;
  color: var(--primary-purple);
}

.dashboardLabel {
  color: var(--text-color-2);
  font-size: 10px;
}

.createContainer {
  display: grid;
  grid-template-columns: repeat(auto-fill, 282px);
  gap: 20px;
  margin-top: 20px;
}

.createButton {
  width: 282px;
  height: 160px;
  border-radius: 4px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-sizing: content-box;
  cursor: pointer;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.05);
  user-select: none;
}

.createWithAi {
  flex-direction: row;
  background: linear-gradient(49.85deg, var(--primary-purple) 0%, #f450f9 100%);
}

.plusSvg {
  width: auto;
  padding: 12px;
  box-sizing: content-box;
  background-color: var(--primary-purple);
  border-radius: 10px;
}

.starsSvg {
  width: auto;
}

.newPresentation {
  width: auto;
  color: var(--primary-purple);
  font-weight: 700;
  margin-top: 8px;
  font-size: 14px;
}

.createWithAitTitle {
  width: auto;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  margin-left: 16px;
}
