.navbar {
  background-color: #fff;
  height: 60px;
  width: 100%;
  padding: 16px 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.navbar_logo {
  width: 142px;
  height: 22px;
}

.navbar_avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ff9900;
  cursor: pointer;
}

.navbar_avatar_name {
  color: #fff;
  font-size: 14px;
  width: auto;
  line-height: 20px;
  user-select: none;
}

.logout_menu {
  display: flex;
  position: absolute;
  width: auto;
  height: auto;
  background-color: #ffffff;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  top: 52px;
  right: 15px; /* Align to the right side of the parent container */
  color: red;
  font-size: 12px;
  font-weight: bold;
  cursor: pointer;
}
