.presentationContainer {
  width: 282px;
  border-radius: 4px;
  padding: 16px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  box-shadow: 5px 5px 8px 0px rgba(0, 0, 0, 0.05);
}

.presentationTitleContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.presentationTitle {
  font-weight: 500;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin-right: 16px;
}

.threeDots {
  width: auto;
  cursor: pointer;
}

.lastUpdated {
  color: #9aa0ab;
  margin-top: 4px;
  font-size: 12px;
  font-weight: 300;
}

.presentationImage {
  width: 250px;
  height: 140px;
  border-radius: 2px;
  border: 1px solid #9aa0ab;
  margin-top: 12px;
}

.presentationAuthor {
  color: #9aa0ab;
  margin-top: 18px;
  font-size: 12px;
  font-weight: 300;
  width: auto;
  align-self: flex-end;
}

.editOverlay {
  position: absolute;
  width: 282px;
  height: 255px;
  margin-top: -16px;
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(
    360deg,
    rgba(23, 27, 49, 0.9) 0%,
    rgba(54, 60, 92, 0.81) 100%
  );
  display: flex;
  flex-direction: column;
}

.editMenu {
  background-color: #fff;
  width: 130px;
  height: auto;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 4px;
  box-shadow: 10px 10px 16px 0px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
  margin: 16px;
}

.editListItem {
  width: 130px;
  padding: 8px 12px;
  height: auto;
  background-color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.editListItem:hover {
  background-color: #edefff;
}

.editIcon {
  width: auto;
}

.editText {
  width: auto;
  font-size: 12px;
  margin-left: 4px;
}
